*.iml
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/captures
.externalNativeBuild
HW1/local.properties
HW1/.idea/libraries
HW1/.idea/modules.xml
HW1/.idea/workspace.xml
HW1/build
HW1/captures
